%%%warning_block%%%
%%%error_block%%%
<form action="?module=document_link&action=submit" method="POST" enctype="multipart/form-data">
  <table cellpadding="2" cellspacing="0" border="0" class="text">
		     <tr>
      <td class="%%%application_id_css%%%">Application ID: </td>
	  <td><input name="app_id" type="text" value="%%%application_id%%%"/></td>
	     </tr>
		 <tr><td colspan="2" align="center">
		 	<input name="submit" type="image" src="image/save_text.gif" style="border: 1px solid black;" />&nbsp;&nbsp;
		 	<a href="?module=document_view"><img src="image/cancel_text.gif" style="border: 1px solid black;" /></a></td>
    </tr>
  </table>
</form>