<table>
	<tr>
	<td style="vertical-align: top">	
		%%%content%%%	
	</td>
	<td width="30">
	 <!-- spacer -->
	</td>
	<td style="vertical-align: top;" class="bold">
		<div style="position: fixed">
		<div style="font-size: 10pt">Key</div>
		<table style="background-color: #fafafa" width="150">
			<tr><td>
				<div style="color: green; font-weight: bold">Linked</div>
				File on disk is properly associated with a record in the Parts database.
			</td></tr>
			
			<tr><td>
				<div style="color: red; font-weight: bold">Unlinked</div>
				File was located on disk, but was not associated with a record in the Parts database.  Missing data is assumed.
			</td></tr>
		</table>
		</div>
	</td>
</tr>
</table>