 <table cellpadding="2" cellspacing="0" border="0" class="text" width="50%">
    <tr>
      <td class="bold">Created on: </td><td>%%%date_created%%%</td>
    </tr>
    <tr>
      <td class="bold">Esignature Date:</td><td>%%%date_esig%%%</td>
    </tr>
    <tr>
      <td class="bold">Audit Status:</td><td>%%%audit_status%%%</td>
  </table>
  <br>
  <table width="100%">
    <tr>
      <td colspan="2">
		<iframe width="100%" height="600" src="?module=document_view&action=doc_view_data&document_id=%%%document_id%%%">
		</iframe>
      </td>
    </tr>
  </table>