<table cellpadding="2" cellspacing="0" border="0" class="text">
	<tr>
		<td class="bold">Template Name</td>
		<td>%%%template_name%%%</td>
	</tr>
	<tr>
		<td class="bold">Template Subject</td>
		<td>%%%template_subject%%%</td>
	</tr>
	<tr>
		<td class="bold">Template Type</td>
		<td>%%%template_type%%%</td>
	</tr>
	<tr>
		<td class="bold" colspan="2">Data</td>
	</tr>
</table>
<div class="template_preview"><pre width="120">%%%template_data%%%</pre></div>
<br />
<br />
<table width="30%" cellpadding="2" cellspacing="0" border="0" class="text">
	<tr>
		<td>&nbsp;</td>
		<td class="bold">Attachment Name</td>
		<td class="bold">Attachment Type</td>
	</tr>
%%%attachment_block%%%
	<tr>
		<td bgcolor="#FFFFFF" colspan="3">%%%add_attachments%%%</td>
	</tr>
</table>
<br />
<br />
<div><strong>Preview</strong></div>
<iframe class="template_preview" src="?module=templates_preview"></iframe>
