<table cellpadding="2" cellspacing="0" border="0" width="80%">
	<tr>
		<th colspan="8">Document Templates</th>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td class="bold">Template Name</td>
		<td class="bold">Content Type</td>
		<td class="bold">Date Created</td>
		<td class="bold">Created By</td>
		<td class="bold">Last Modified</td>
		<td class="bold" colspan="2">Modified By</td>
	</tr>
%%%template_rows%%%
	<tr>
		<td colspan="8">&nbsp;</td>
	</tr>
	<tr><th colspan="8">Shared Templates</th></tr>
	<tr><td colspan="8" align="center">Shared templates can only be modified by the original owning
		company. Sharing of documents can only be performed by development.</td></tr>
	<tr>
		<td>&nbsp;</td>
		<td class="bold">Template Name</td>
        <td class="bold">Content Type</td>
		<td class="bold">Date Created</td>
		<td class="bold">Created By</td>
		<td class="bold">Last Modified</td>
		<td class="bold" colspan="2">Modified By</td>
	</tr>
%%%shared_template_rows%%%
	<tr><td colspan="8">&nbsp;</td></tr>
	<tr>
		<th colspan="8">Cover Sheet Templates</th>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td class="bold">Template Name</td>
		<td class="bold">Content Type</td>
		<td class="bold">Date Created</td>
		<td class="bold">Created By</td>
		<td class="bold">Last Modified</td>
		<td class="bold" colspan="2">Modified By</td>
	</tr>
%%%cover_template_rows%%%
</table>
