<table cellpadding="2" cellspacing="0" border="0" class="text">
	<tr>
		<td class="bold">Template Name</td>
		<td>%%%template_name%%%</td>
	</tr>
	<tr>
		<td class="bold">Template Subject</td>
		<td>%%%template_subject%%%</td>
	</tr>
	<tr>
		<td class="bold">Template Type</td>
		<td>%%%template_type%%%</td>
	</tr>
	<tr>
		<td class="bold" colspan="2">Data</td>
	</tr>
</table>
<div class="template_preview"><pre>%%%template_data%%%</pre></div>
<br />
<br />
<div><strong>Preview</strong></div>
<iframe class="template_preview" src="?module=templates_preview"></iframe>
