%%%error_block%%%

<h2>Dispatch History</h2>

<div id="dispatch_table">
<table cellpadding="2" cellspacing="0" border="0" class="text" width="80%" style="margin-left: auto; margin-right: auto">
	<tr>
		<td>&nbsp;</td>
		<td class="bold">Dispatch Date</td>
		<td class="bold">Modified Date</td>
		<td class="bold">Recipient</td>
		<td class="bold">Sender</td>
		<td class="bold">Type</td>
		<td class="bold">Status</td>
	</tr>
%%%dispatch_block%%%
</table>
</div>

<br />

<hr style="height: 2px; background-color: silver; border: 0px; width: 75%" />

<h2>Document History</h2>

<div id="event_table">
<table cellpadding="2" cellspacing="0" border="0" class="text" width="40%" style="margin-left: auto; margin-right: auto">
	<tr>
		<td class="bold">Event Date</td>
		<td class="bold">Event Type</td>
		<td class="bold">Event User</td>
		<td class="bold">IP Address</td>
	</tr>
%%%events_block%%%
</table>
</div>

