<!--<div id="collections_buttons" style="display: none;" -->
<div id="internal_buttons" style="display: none;">
	<div id="app_attributes">
		%%%app_attribute_buttons%%%
	</div>
	
	<div id="app_actions">
		<div class="app_attribute_title">
			App Actions
		</div>
		<div style="float: left;">
			<div class="app_button">
				<input type="button" name="submit_button" id="AppActionFollowUp" class="button2%%%follow_up_disabled%%%" value="Follow Up" onClick="OpenDialogSized('/?action=get_followup&type=Internal&application_id=%%%application_id%%%', '400', '300');"%%%follow_up_disabled%%%>
			</div>
			<div class="app_button">
   				<input type="button" %%%bankruptcy_notification_disabled%%% name="submit_button" id="AppActionBankruptcyNotified" value="Bankruptcy Notification" class="button2%%%bankruptcy_notification_disabled%%%" onClick="Update_Status_Direct('Bankruptcy_Notification', 'Bankruptcy Notified');">
  			</div>
			<div class="app_button">
				<input type="button" %%%bankruptcy_verified_disabled%%% name="submit_button" id="AppActionBankruptcyVerified" value="Bankruptcy Verified" class="button2%%%bankruptcy_verified_disabled%%%" onClick="Update_Status_Direct('Bankruptcy_Verified', 'Bankruptcy Verified');">
			</div>
			<div class="app_button">
				%%%CLAIM_APP_BUTTON%%%
			</div>
		</div>
	</div>
</div>

<div style="clear: both;">
	<span style="text-align: left; float: left;">%%%back_button_link%%%</span>
	<span style="text-align: center; float: right; width: 755px;">Controlling Agent: &nbsp; <b>%%%controlling_agent_name%%% </b></span>
</div>
