<div class="app_attribute_title">
	App Attributes
</div>
<div style="float: left;">
<div class="app_attribute">
	<input %%%bad_info_link%%% class="button2" type=button style="background-image: url('/image/standard/i_bad_info.gif');" value="Bad Info">
</div>
<div class="app_attribute">
	<input %%%do_not_contact_link%%% class="button2" type=button style="background-image: url('/image/standard/i_do_not_contact.gif');" value="Do Not Contact">
</div>
<div class="app_attribute">
	<input %%%best_contact_link%%% class="button2" type=button style="background-image: url('/image/standard/i_best_contact.gif');" value="Best Contact">
</div>
<div class="app_attribute">
	<input %%%do_not_market_link%%% class="button2" type=button style="background-image: url('/image/standard/i_do_not_market.gif');" value="Do Not Market">
</div>
</div>
<div style="float: left;">
<div class="app_attribute">
	<input %%%do_not_loan_link%%% class="button2" type=button style="background-image: url('/image/standard/i_do_not_loan.gif');" value="Do Not Loan">
</div>

</div>
