<div id="layout0group0layer1view" %%%idv_view_layer%%%>
<table cellpadding=0 cellspacing=0 width="100%"><tr><td class="border" align="left" valign="top">
<table cellpadding=0 cellspacing=0 width="100%" class="%%%mode_class%%%">
	<tr class="height">
		<th colspan="2" class="%%%mode_class%%%">&nbsp;<nobr>Identity and Credit Info </nobr></th>
	</tr>
	<tr class="height">
		<td class="align_left_alt_bold">&nbsp;Duplicate Bank Acct:&nbsp;</td>
		<td class="align_right_alt">
			<a href="/?action=dup_bank_account&cid=%%%company_id%%%&bank_aba=%%%bank_aba%%%&bank_account=%%%bank_account%%%" 
				target="DupBankAcct" style="text-decoration:underline">%%%aba_account_count%%%</a>&nbsp;
		</td>
	</tr>
	<tr class="height">
		<td class="align_left_bold">&nbsp;%%%idv_label_1%%%&nbsp;</td>
		<td class="align_right">%%%idv_value_1%%%&nbsp;</td>
	</tr>
	<tr class="height">
		<td class="align_left_alt_bold">&nbsp;%%%idv_label_2%%%&nbsp;</td>
		<td class="align_right_alt">%%%idv_value_2%%%&nbsp;</td>
	</tr>
	<tr class="height">
		<td class="align_left_bold">&nbsp;%%%idv_label_3%%%&nbsp;</td>
		<td class="align_right">%%%idv_value_3%%%&nbsp;</td>
	</tr>
		<tr class="height">
		<td class="align_left_alt_bold">&nbsp;%%%idv_label_4%%%&nbsp;</td>
		<td class="align_right_alt">%%%idv_value_4%%%&nbsp;</td>
	</tr>
	<tr class="height"><td colspan="2" class="align_left">%%%idv_trapped_error%%%</td></tr>
	<tr class="height">
		<td class="align_left_alt">%%%idv_acl_link%%%</td>
		<td class="align_right_alt">
			%%%edit_id_and_credit_link%%%&nbsp;
		</td>
	</tr>

	<tr class="height">
		<td class="align_left_bold">%%%fraud_rules_label%%%</td>
		<td class="align_right"><div style="width: 250px; overflow:hidden"><nobr><a href="javascript:void(0);" style="color:black; text-decoration: none; cursor: default;" onClick="javascript:com=window.open('','comment','height=150,width=350,scrollbars=1,status=0,screenX=200,screenY=200;');com.document.write('<html><head><title>Matching Rules</title></head><body><b>Fraud Rules:</b><br> %%%fraud_rules_list%%%<br><br><b>Fraud Fields:</b><br> %%%fraud_fields_list%%%</body></html>');com.document.close();com.focus();">%%%fraud_rules%%%</a></nobr></div></td>
	</tr>
	<tr class="height">
		<td class="align_left_alt_bold">%%%fraud_fields_label%%%</td>
		<td class="align_right_alt"><div style="width: 250px; overflow:hidden"><nobr><a href="javascript:void(0);" style="color:black; text-decoration: none; cursor: default;" onClick="javascript:com=window.open('','comment','height=150,width=350,scrollbars=1,status=0,screenX=200,screenY=200;');com.document.write('<html><head><title>Matching Fields</title></head><body><b>Fraud Rules:</b><br> %%%fraud_rules_list%%%<br><br><b>Fraud Fields:</b><br> %%%fraud_fields_list%%%</body></html>');com.document.close();com.focus();">%%%fraud_fields%%%</a></nobr></div></td>
	</tr>
	<tr class="height">
		<td class="align_left_bold">%%%risk_rules_label%%%</td>
		<td class="align_right"><div style="width: 250px; overflow:hidden"><nobr><a href="javascript:void(0);" style="color:black; text-decoration: none; cursor: default;" onClick="javascript:com=window.open('','comment','height=150,width=350,scrollbars=1,status=0,screenX=200,screenY=200;');com.document.write('<html><head><title>Matching Rules</title></head><body><b>High Risk Rules:</b><br> %%%risk_rules_list%%%<br><br><b>High Risk Fields:</b><br> %%%risk_fields_list%%%</body></html>');com.document.close();com.focus();">%%%risk_rules%%%</a></nobr></div></td>
	</tr>
	<tr class="height">
		<td class="align_left_alt_bold">%%%risk_fields_label%%%</td>
		<td class="align_right_alt"><div style="width: 250px; overflow:hidden"><nobr><a href="javascript:void(0);" style="color:black; text-decoration: none; cursor: default;" onClick="javascript:com=window.open('','comment','height=150,width=350,scrollbars=1,status=0,screenX=200,screenY=200;');com.document.write('<html><head><title>Matching Fields</title></head><body><b>High Risk Rules:</b><br> %%%risk_rules_list%%%<br><br><b>High Risk Fields:</b><br> %%%risk_fields_list%%%</body></html>');com.document.close();com.focus();">%%%risk_fields%%%</a></nobr></div></td>
	</tr>

</table>
</td></tr></table>
</div>
