<table width="500" border="0" cellspacing="0" cellpadding="0">
  <tr>
  	<td width=5 valign=top><img src='images/notice.gif'></td>
    <td width=40 nowrap valign=top><font color=brick size=1><b>NOTICE:</b></font>&nbsp;&nbsp;</td>
    <td valign=top> Are you sure you want to deactivate the template '%%%template_name%%%'?&nbsp;</td>
  </tr>
  <tr>
    <td align="center" colspan="3"><br><form method="post" action="?module=templates_edit&action=delete_confirm" style="margin: 0px;"><input type="submit" name="confirm" value="Yes, deactivate this template."></form>&nbsp;&nbsp;&nbsp;&nbsp;<form method="post" action="?module=templates_list" style="margin: 0px;"><input type="submit" name="" value="No, cancel this action."></form></td>
  </tr>
</table>